!!! 5
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title
      = @title

    %meta{:name =>"description", :content => ""}
    %meta{:name =>"author", :content => ""}
    %meta{:name =>"viewport", :content => "width=device-width, intial-scale=1.0"}

    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    %link{:rel => "apple-touch-icon", :href => "/apple-touch-icon.png"}

    %link{:href=>'stylesheets/style.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    -# %link{:href=>'stylesheets/handheld.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    %script{:src => "js/lib/modernizr-1.5.min.js"}
  %body
    #container
      %header
        %h1#logo
          %a{:href => '/'}
            Site Name
        #main-menu
          %ul
            %li
              %a{:href => '/'}
                Home
            %li
              %a{:href => '/about'}
                About
      #content
        = yield
      %footer
        copyright 2010
        = partial :_analytics

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"}
    %script
      !window.jQuery && document.write(unescape('%3Cscript src="js/lib/jquery-1.4.4.js"%3E%3C/script%3E'))
    %script{:src => "js/plugins.js"}
    %script{:src => "js/script.js"}
    %script{:src => "js/site.js"}
    %script
      var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
      (function(d, t) {
      var g = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
      })(document, 'script');
